* {
  box-sizing: border-box;
}
.app {
  height: 96vh;
  margin: 2vh auto;
  display: flex;
  justify-content: center;
}

.app-left {
  width: 400px;
  background: white;
  outline: 1px solid black;
  padding: 12px;
  position: relative;
}

.button-wrapper {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

button {
  background: white;
  width: 80px;
  line-height: 30px;
  border: 1px solid rgb(229, 231, 235);
  margin-right: 12px;
  border-radius: 4px;
  cursor: pointer;
}
.image-content {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.text-content {
  background: transparent;
  border: 2px solid #70c0ff;
}


.tab-title {
  display: flex;
  border: 1px solid rgb(229, 231, 235);
  cursor: pointer;
  border-radius: 4px;
}


.text-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background-wrapper {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.text-wrapper .text-content {
  margin-bottom: 12px;
}

.background-wrapper div {
  margin-bottom: 12px;
}

.active {
  color: rgb(79, 70, 229);
}

.tab-content {
  padding: 12px 0;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-wrapper .image-content {
  margin-bottom: 12px;
}
.title-item {
  flex: 1;
  text-align: center;
  line-height: 44px;
}
input {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}
.image-content img {
  width: 100%;
  height: 100%;
}

.app-right {
  width: 1000px;
  overflow: hidden;
  outline: 1px solid black;
  position: relative;
  background: white;
}

body {
  background: #eee;
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
